<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BroSolutions\CustomOffer\Api\OfferRepositoryInterface" type="BroSolutions\CustomOffer\Model\OfferRepository" />
    <preference for="BroSolutions\CustomOffer\Api\Data\OfferInterface" type="BroSolutions\CustomOffer\Model\Offer" />
    <preference for="BroSolutions\CustomOffer\Api\Data\OfferSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>

<!--        <type name="BroSolutions\CustomOffer\Model\ResourceModel\Offer\Grid\Collection">-->
<!--            <arguments>-->
<!--                <argument name="mainTable" xsi:type="string">brosolutions_customoffer_offer</argument>-->
<!--                <argument name="eventPrefix" xsi:type="string">brosolutions_customoffer_grid_collection</argument>-->
<!--                <argument name="eventObject" xsi:type="string">brosolutions_customoffer_collection</argument>-->
<!--                <argument name="resourceModel" xsi:type="string">BroSolutions\CustomOffer\Model\ResourceModel\Offer</argument>-->
<!--            </arguments>-->
<!--        </type>-->
</config>